<?xml version="1.0" encoding="utf-8"?>

<cordova>
    <!--
    access elements control the Android whitelist.
    Domains are assumed blocked unless set otherwise
     -->

    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->

    <!-- <access origin="https://example.com" /> allow any secure requests to example.com -->
    <!-- <access origin="https://example.com" subdomains="true" /> such as above, but including subdomains, such as www -->
    <access origin=".*"/>

    <!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
    <content src="index.html" />

    <log level="DEBUG"/>
    <preference name="useBrowserHistory" value="true" />
    <preference name="exit-on-suspend" value="false" />
	
	<plugins>
		<plugin name="App" value="org.apache.cordova.App"/>
		<plugin name="Notification" value="org.apache.cordova.Notification"/>
		<plugin name="Storage" value="org.apache.cordova.Storage"/>
		<plugin name="Device" value="org.apache.cordova.Device"/>
		<plugin name="Globalization" value="org.apache.cordova.Globalization"/>
		<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser"/>
	</plugins>
</cordova>

<widget>
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<icon src="icon.png" />
	<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
			
	<gap:splash src="splash/ios/Default.png" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
	<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
	<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
	<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
	<gap:splash src="splash/ios/Default-Landscape_at_2x.png" width="2048" height="1496" />
	<gap:splash src="splash/ios/Default-Portrait_at_2x.png" width="1536" height="2008" />

    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="UIWebViewBounce" value="true" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="EnableLocation" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="2" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />

    <plugins>
        <plugin name="LocalStorage" value="CDVLocalStorage" />
        <plugin name="Device" value="CDVDevice" />
		<plugin name="Notification" value="CDVNotification" />
		<plugin name="Globalization" value="CDVGlobalization" />
        <plugin name="InAppBrowser" value="CDVInAppBrowser" />
    </plugins>
</widget>

